<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PM25-Chart</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.6.0/echarts.min.js"></script>
    <style>
        .higher {
            background-color: rgb(162, 91, 91);
            width: 200px;
            text-align: center;
            color: white;
            font-size: 24px
        }

        .lower {
            background-color: rgb(154, 204, 154);
            width: 200px;
            text-align: center;
            color: white;
            font-size: 24px
        }
    </style>
</head>

<!-- https://echarts.apache.org/ -->

<body>
    <a href="/">回首頁</a>

    <div class="higher">
        最高:<span id="highestSite"></span>
        <span id="highestPm25"></span>
    </div>
    <!-- <div id="highestPm25">最高數值:</div> -->

    <div class="lower">
        最低:<span id="lowestSite"></span>
        <span id="lowestPm25"></span>
    </div>
    <!-- <div id=>最低數值:</div> -->

    <a href="">更新數據</a>
    <h1>PM2.5圖形繪製</h1>
    <div id="main" style="width: 100%; height: 400px;"></div>
    <div id="six" style="width: 100%; height: 400px;"></div>
    <script>
        //document.querySelector("h1").innerText = "123";
        //$("h1").text("<u>ABC</u>");
        $("h1").css("text-align", "center");
        // 基于准备好的dom，初始化echarts实例
        const chart1 = echarts.init(document.getElementById('main'));
        const chart2 = echarts.init(document.getElementById('six'));

        window.addEventListener("resize", () => {
            chart1.resize();
            chart2.resize();
        });

        $.ajax({
            url: "/pm25-data",
            //url: "/six-pm25-data",
            type: "GET",
            dataType: "json",
            success: (data) => {
                console.log(data); // 有資料就會印出 {site: [...], pm25: [...]}

                // 呼叫 drawChart，把資料畫出來！
                //drawChart(myChart, data.site, data.pm25, "全省 PM2.5 數據", "PM2.5");
                drawChart(chart1, data["site"], data["pm25"], title = "全省 PM2.5 數據", "pm2.5");

                $("#highestSite").text(data["highest"][0]);
                $("#highestPm25").text(data["highest"][1]);
                $("#lowestSite").text(data["lowest"][0]);
                $("#lowestPm25").text(data["lowest"][1]);
            },
            error: (xhr, status, err) => {
                console.log("讀取失敗", err);
            }
        });

        $.ajax({
            url: "/six-pm25-data",
            type: "GET",
            dataType: "json",
            success: (data) => {
                console.log(data);
                drawChart(chart2, data["site"], data["pm25"], title = "六都 PM2.5 數據", "pm2.5", "#00bfff");
            },
            error: (xhr, status, err) => {
                console.log("讀取失敗", err);
            }
        });


        function drawChart(chart, xdata, ydata, title = "圖表", name = "數值", color = "#66cdaa") {
            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: title
                },
                tooltip: {},
                legend: {
                    data: [name]
                },
                xAxis: {
                    data: xdata
                },
                yAxis: {},
                series: [
                    {
                        name: name,
                        type: 'bar',
                        data: ydata,
                        itemStyle: {
                            color: color
                        }
                    }
                ]
            };

            // 使用刚指定的配置项和数据显示图表。
            chart.setOption(option);
        }
    </script>

</body>

</html>